<div class="conatiner text-center">
  <h1>Editing Story</h1>
</div>

<%= render 'form' %>

<div class="conatiner text-center">
  <h3><%= link_to 'Show', @story %> | <%= link_to 'Back', stories_path %></h3>
</div>
