

<h1 class="text-center">Finding support thru Connections</h1>
<h3 class="text-center"><%= link_to 'New Post / Reply', new_story_path %></h3>





<table class="table table-hover text-center">

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><h4><%= story.title %></h4></td>
        <td><h4><small><%= story.description %></small></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
