<div class="container">
  <div class="page-header">
    <h1 class="text-center">New Photo<small>  Only one photo can be added at a time.</h1>
  </div>
</div>




<%= render 'form' %>

<div class="container">
  <h4 class="text-center"><%= link_to 'Back', photos_path %></h4>
</div>
