/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.footer {
  font-family: 'Oxygen', sans-serif;
  /*position: absolute;*/
  bottom: 0;
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: 200px;*/
  background-color: #55a5ee;
  color: #efefef;
  /*padding: 30px 0;*/
}
.footer a {
  color: #FFDE17;
}
.footer a:hover {
  color: #c8d8c8;
}

.navbar {
  background-color:#55a5ee;
  height: 70px;
}
.navbar a {
  color: #cbe5e3;
  font-size: 2em;
  background-color: #55a5ee;
}
.navbar-toggle .icon-bar {
  background-color: #d8e6f3;
}

@media only screen and (max-width: 750px) {
  .dropdown-menu>li>a {
    color: #d8e6f3;
  }
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: #8f93a7;
  color: white;
}

.navbar a:hover {
  color: #FFDE17;
}​
